<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <title>Portifolio</title>

</head>
<body>

    <header>
         <nav>
            <ul>
                <li>Inicio</li>
                <li>Sobre mim</li>
                <li>Experiencia</li>
                <li>Projetos</li>
                <li>Contato</li>
            </ul>
         </nav>

         
        </header>
        <!-- class="projects" id="projects" -->
        <main>
           <section>
            <div class="container">
               <h2>Olá! Eu sou o <span style="color: #7127BA;">Paulo</span></h2>
               
               <div id="setaAvatar">
                <img src="../assets/svg/setaAvatar.svg" alt="seta-avatar">

                <div id="avatar">
                    <img src="../assets/img/avatar.png" alt="avatar">
                </div>

                <div id="whiteAvatar">
                    <img src="../assets/svg/whiteAvatar.svg" alt="avatar">
                </div>
            
                <div id="efeitoAvatar">
                    <img src="../assets/svg/efeitoAvatar.svg" alt="efeito-avatar">
                </div>
                
                <div id="bordaSFT">
                    <img src="../assets/svg/bordaSFT.svg" alt="circulo-software">
                </div>

            </div>
        </div>
           </section>
        </main>
        <section > 

        <div class="texto-inicial">
            <p>Por que sou Desenvolvedor ?</p>
        </div>


        <div class="pensar"> 
            <p>Pense em um desenvolvedor de <br> <span style="color: #7127BA;">software</span> com conceitos já definidos...</p>
        </div>

        <div class="conceito">
            <p>Eu construo o cenário, os personagens e a trama, com tudo planejado e pronto, eu te adiciono nesse contexto como um dos personagens curiosos na história.</p>
        </div>

    </section>

    <section>
        <div class="especialista">
            <h3> Analista de Desenvolvimento de Sistemas <br>Atualmente, Sou Desenvolvedor Web FullStack no <a href="https://grupoicts.com.br/" target="_blank"><img src="../assets/img/icts.png" alt="grupo-icts"></a> Grupo ICTS </h3>
        </div>

        <div class="sobre-mim">
            <h3>Um desenvolverdor FullStack autodidata, atuando na indústria há mais de 2 anos. Eu faço produtos digitais significativos e encantadores que criam um equilíbrio entre as necessidades do usuário e os objetivos do negócio.</h3>
        </div>
    </section>

    <section>
        <div class="experiencia">
            
        </div>
    </section>

      <footer>
        <p>&copy; 2023 Todos os direitos reservados.</p>
      </footer>
</body>
</html>
