*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0C0618;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #1A0B2E;
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav ul {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10 2rem;
}

header nav ul li {
  min-width: fit-content;
  height: fit-content;
  padding: 0 27%;
  cursor: pointer;

  list-style: none;
}
main section {
  text-align: center;
  
}
main section h2 {
  font-family: "Roboto", sans-serif;
  padding: 2%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.11px;
}

#setaAvatar {
  position: absolute;
  left: 33%;
  top: 55px;
  z-index: 3;
}
#avatar {
  position: absolute;
  left: -80%;
  top: 95px;
  z-index: 2;
}
#whiteAvatar{
  position: absolute;
  left: -115%;
  top: 90px;
  z-index: 1;
}
#efeitoAvatar {
  position: absolute;
  left: -180%;
  top: 1px;
  z-index: 0;
}
#bordaSFT{
  position: absolute;
  left: 82%;
  top: 162px;
  z-index: 0;
}
section {

}

.texto-inicial,
.pensar,
.conceito {
  width: 36%; /* Ajuste a largura conforme necessário */
  margin: 0 35rem; /* Isso centraliza a seção */
  text-align: left; /* Isso alinha o texto à esquerda dentro da seção */
}

.pensar{
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.11px;
}
.experiencia {
  width: 36%; /* Ajuste a largura conforme necessário */
  margin: 0 35rem; /* Isso centraliza a seção */
  text-align: left; /* Isso alinha o texto à esquerda dentro da seção */
}
section{
  img{
    top: 10rem;
  }
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0C0618;
    margin-top: auto;
}

// #avatar {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 2;
// }

// #efeitoAvatar {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

// #setaAvatar {
//   left: 50%;
//   top: 10px;
//   z-index: 1;
//   position: absolute;
//   transform: translateX(-50%);
// }