<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.scss">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <title>Portifolio</title>

</head>
<body>

    <header>

        <nav>

            <ul>

                <li><a href="#inicio">Início</a></li>
                <li><a href="#experiencia">Experiencia</a></li>
                <li><a href="#projetos">Projetos</a></li>

            </ul>

        </nav>

    </header> 
<!-- class="projects" id="projects" -->
    <section > 
        <h2>Olá! Eu sou o Paulo</h2>

        <div class="container">
            <div id="avatar">
                <img src="../assets/svg/avatar.svg" alt="avatar">
            </div>
        
            <div id="efeitoAvatar">
                <img src="../assets/svg/efeitoAvatar.svg" alt="efeito-avatar">
            </div>
        
            <div id="setaAvatar">
                <img src="../assets/svg/setaAvatar.svg" alt="seta-avatar">
            </div>

        </div>

        <div class="texto-inicial" text-ilign="center">
            <p>Desenvolvedor Frontend e Backend<br> com mais de 3 anos de experiência  em projetos web</p>
        </div>

    </section>
      <!-- <footer>
        <p>&copy; 2023 Todos os direitos reservados.</p>
      </footer> -->
</body>
</html>
